.button
{
  appearance:      none;
  background:      transparent;
  border:          none;
  box-shadow:      0 2px 8px rgba(#000000, 0.3);
  padding:         12px 30px;
  text-align:      center;
  text-decoration: none;
  transition:      all 0.3s ease;
}
.button-cancel
{
  @extend .button;

  background: $color-error;
  color:      #FFFFFF;

  &:hover
  {
    background: #FFFFFF;
    color:      $color-error;
  }
}
.button-primary
{
  @extend .button;

  background: #000000;
  color:      #FFFFFF;

  &:hover
  {
    background: #FFFFFF;
    color:      #000000;
  }
}
.button-standard
{
  @extend .button;

  background: #FFFFFF;
  color:      #000000;

  &:hover
  {
    background: #000000;
    color:      #FFFFFF;
  }
}
.button-validate
{
  @extend .button;

  background: $color-success;
  color:      #FFFFFF;

  &:hover
  {
    background: #FFFFFF;
    color:      $color-success;
  }
}
