/**
 * HOW TO USE:
 * ===========================================================
 *
<label class="radio">
  <input class="radio-input" type="radio">
  <span class="radio-ui"></span>
</label>
 */

.radio
{
  cursor:  pointer;
  display: block;
  height:  24px;
  width:   24px;
}
.radio-input
{
  display: none;
}
.radio-input:checked
{
  & + .radio-ui
  {
    &::after
    {
      opacity:    1;
      visibility: visible;
    }
  }
}
.radio-ui
{
  background:    #FFFFFF;
  border-radius: 50%;
  display:       block;
  height:        100%;
  position:      relative;
  transition:    all 0.3s ease;
  width:         100%;

  &::after
  {
    background:    #000000;
    border-radius: 50%;
    content:       "";
    display:       block;
    height:        16px;
    opacity:       0;
    position:      absolute;
      left:        50%;
      top:         50%;
    transform:     translateX(-50%) translateY(-50%);
    transition:    all 0.3s ease;
    visibility:    hidden;
    width:         16px;
  }
}
