/**
 * HOW TO USE:
 * ===========================================================
 *
 *
 * Example 1: Simple text field
 * -----------------------------------------------------------
 *
<div class="textfield">
 <label class="textfield-label">
   <span class="textfield-ui">
     <input class="textfield-ui-input" placeholder="Nom de l'évévenement" type="text">
   </span>
 </label>
</div>
 *
 *
 * Example 2: Text field with label
 * -----------------------------------------------------------
 *
<div class="textfield">
 <label class="textfield-label">
   <span class="textfield-label-text">Nom de l'événement</span>
   <span class="textfield-ui">
     <input class="textfield-ui-input" placeholder="ex : BBQ chew Momo" type="text">
   </span>
 </label>
</div>
 *
 *
 * Example 3: Text field with icon
 * -----------------------------------------------------------
 *
<div class="textfield is-icon">
 <label class="textfield-label">
   <span class="textfield-ui">
     <input class="textfield-ui-input" placeholder="Rechercher" type="text">
     <span class="textfield-ui-icon">
       <svg>
         <use xlink:href="assets/images/sprites/sprite.svg#magnifier"></use>
       </svg>
     </span>
   </span>
 </label>
</div>
 *
 *
 * Example 4: Text field with icon and label
 * -----------------------------------------------------------
 *
<div class="textfield is-icon">
 <label class="textfield-label">
   <span class="textfield-label-text">Recherche un ami</span>
   <span class="textfield-ui">
     <input class="textfield-ui-input" placeholder="par nom, prénom, etc..." type="text">
     <span class="textfield-ui-icon">
       <svg>
         <use xlink:href="assets/images/sprites/sprite.svg#magnifier"></use>
       </svg>
     </span>
   </span>
 </label>
</div>
 *
 */

.textfield
{
  display: inline-block;

  *
  {
    box-sizing: border-box;
  }
}
.textfield.is-invalid
{
  .textfield-ui-input
  {
    border: 1px solid $color-error;
  }
  .textfield-ui-input:focus
  {
    box-shadow: 0 0 10px $color-error;
    outline:    none;
  }
}
.textfield.is-icon
{
  .textfield-ui-input
  {
    padding-right: 46px;
  }
}
.textfield-label
{
  display: block;
  width:   100%;
}
.textfield-label-text
{
  color:         #000000;
  display:       block;
  font-size:     1rem;
  margin-bottom: 6px;
  width:         100%;
}
.textfield-ui
{
  display:  block;
  position: relative;
}
.textfield-ui-input
{
  appearance: none;
  background: #FFFFFF;
  border:     none;
  color:      #000000;
  display:    block;
  font-size:  1rem;
  padding:    12px 15px;
  text-align: inherit;
  width:      100%;

  &::placeholder
  {
    color: #AAAAAA;
  }
}
.textfield-ui-icon
{
  display:   block;
  height:    16px;
  position:  absolute;
    right:   15px;
    top:     50%;
  transform: translateY(-50%);
  width:     16px;

  svg
  {
    display: block;
    fill:    #AAAAAA;
    height:  100%;
    width:   100%;
  }
}
