:root
{
  /*
   * Colors
   */
  --color-error: #ee7878;
  --color-success: #5dad65;

  /*
   * Fonts
   */
  --font-emojis: apple color emoji,
    segoe ui emoji,
    noto color emoji,
    android emoji,
    emojisymbols,
    emojione mozilla,
    twemoji mozilla,
    segoe ui symbol;
}
