extends _pug/layouts/default

block metasVariables
  - metas.og._isEnabled = false;
  - metas.twitter._isEnabled = false;

block title
  title [@@ENV] Accueil

block content
  component(:is='currentSection')
